---
import { createClient } from "@supabase/supabase-js";

const supabaseUrl = "https://upabdmzybbgsnbonhgmc.supabase.co";
      const supabaseKey =
      "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVwYWJkbXp5YmJnc25ib25oZ21jIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODExMjg1NTMsImV4cCI6MTk5NjcwNDU1M30.5TeDInNIPfxKeE_KG4GcUEznh4i9wbKjUek935JSq6Y";
      
      
      const supabase = createClient(
      "https://upabdmzybbgsnbonhgmc.supabase.co",
      supabaseKey
      );
const response=await	supabase
	.from("products")
	.select("*").order('id', { ascending: false });
	const products=response.data
// Component Imports
import Counter from '../components/Counter';
import { signal } from '@preact/signals';
// import P3 from "../components/p3";
// import P4 from "../components/p4";
// import P6 from "../components/p6";
// import P5 from "../components/p5";
// import P7 from "../components/p7";
// import P8 from "../components/p8";
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/

const count = signal(0);
// <P6></P6>
// <P4></P4>
// <P3></P3>
// <P5></P5>
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

	</head>
	<body>
		<i>forside</>
			<br/>
			<ul>
				{
					products.map((post) => (
						<li>
							<a rel="prefetch" href={`/product/${post.id}/`}>{`${post.id}`}
								
							</a>
						</li>
					))
				}
			</ul>
	</body>
</html>
